<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Lend-It</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .form-horizontal .control-label{
        width: 60px;
      }
      .form-horizontal .controls {
        margin-left: 80px;
      }
    </style>
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="lib/bootstrap/datepicker/css/datepicker.css" rel="stylesheet"> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
<!--     <link rel="shortcut icon" href="bootstrap/ico/favicon.ico"> -->
<!--     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="lib/bootstrap/ico/apple-touch-icon-144-precomposed.png"> -->
<!--     <link rel="apple-touch-icon-precomposed" sizes="114x114" href="lib/bootstrap/ico/apple-touch-icon-114-precomposed.png"> -->
<!--     <link rel="apple-touch-icon-precomposed" sizes="72x72" href="lib/bootstrap/ico/apple-touch-icon-72-precomposed.png"> -->
<!--     <link rel="apple-touch-icon-precomposed" href="lib/bootstrap/ico/apple-touch-icon-57-precomposed.png"> -->
  </head>

  <body>
    
    <div id="header"></div>
    
    <div class="container">
      
      <h1>Lend !</h1>
      
      <div class="row">
        <div class="span4"> 
          <div class="well">
            <form class="form-horizontal" action="#">
              <legend>Record a lend</legend>
              <div class="control-group">
                <label class="control-label" for="inputWhat">What :</label>
                <div class="controls">
                  <input type="text" id="inputWhat" placeholder="What have you lent ?">
                </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputWho">Who :</label>
                  <div class="controls">
                    <input type="text" id="inputWho" placeholder="To whom you have lent ?">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputWhen">When :</label>
                  <div class="controls">
                    <div data-date-viewmode="years" data-date-format="dd/mm/yyyy" data-date="12/02/2012" id="inputWhen" class="datepicker input-append date">
                      <input type="text" readonly="" value="12/02/2012" size="16" class="span2" />
                      <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                  </div>
                </div>
                 <br />
                <button type="submit" id="addLendButton" class="btn btn-primary">Add lend</button>
            </form>
          </div>
        </div>
        <div class="span8">
          
          <!-- Alerts -->
          <div id="addLendSuccess" class="alert alert-success hide">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Lend successfully saved.
          </div>
          <div id="editLendSuccess" class="alert alert-success hide">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Lend successfully updated.
          </div>
          <div id="deleteLendSuccess" class="alert alert-success hide">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Lend successfully deleted.
          </div>
          <!-- /Alerts -->
          
          <table ng-controller="lendCtrl" class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>What</th>
                <th>Who</th>
                <th>When</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-repeat='lends in lendList' id="lendList"> 
                <tr ng-repeat='lend in lends'>
                  <td>{{lend.lendId}}</td>
                  <td>{{lend.object}}</td>
                  <td>{{lend.who}}</td>
                  <td>{{lend.when}}</td>
                  <td><i class="icon-pencil" id="editLendIcon-{{lend.lendId}}" ng-click="editLend(lend.lendId)"></i></td>
                  <td><i class="icon-trash" id="deleteLendIcon-{{lend.lendId}}" ng-click="deleteLend(lend.lendId)"></i></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div id="footer"></div>
      
    </div> <!-- /container -->
    
    <!-- Modal Edit -->
    <div ng-controller="lendCtrl">
      <div ng-repeat='lends in lendList'>
        <div ng-repeat='lend in lends'>
          <div id="editLendModal-{{lend.lendId}}" class="modal hide fade">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Edit a lend</h3>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="#">
                <div class="control-group">
                  <label class="control-label" for="inputLendID">ID :</label>
                  <div class="controls">
                    <input type="text" id="inputWhat" value="{{lend.lendId}}" disabled />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputWhat">What :</label>
                  <div class="controls">
                    <input type="text" id="inputWhat" placeholder="What have you lent ?" value="{{lend.object}}" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputWho">Who :</label>
                  <div class="controls">
                    <input type="text" id="inputWho" placeholder="To whom you have lent ?" value="{{lend.who}}" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputWhen">When :</label>
                  <div class="controls">
                    <div data-date-viewmode="years" data-date-format="dd/mm/yyyy" data-date="{{lend.when}}" id="inputWhen" class="datepicker input-append date">
                      <input type="text" readonly="" value="{{lend.when}}" size="16" class="span2" />
                      <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                  </div>
                </div>
                <br />
              </form>
            </div>
            <div class="modal-footer">
              <button id="cancelEditLendButton" type="button" class="btn" data-dismiss="modal">Close</button>
              <button type="submit" id="editLendButton-{{lend.lendId}}" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modal Edit -->
    
    <!-- Modal Delete -->
    <div ng-controller="lendCtrl">
      <div ng-repeat='lends in lendList'>
        <div ng-repeat='lend in lends'>
          <div id="deleteLendModal-{{lend.lendId}}" class="modal hide fade">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Delete a lend</h3>
            </div>
            <div class="modal-body">
              <p>
                 Are you sure to delete this lend ?<br /><br />
                 ID : {{lend.lendId}}<br />
                 Object : {{lend.object}}<br />
                 Who : {{lend.who}}<br />
                 When : {{lend.when}}
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger" id="deleteLendButton-{{lend.lendId}}">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modal Delete -->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/bootstrap/js/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="lib/angular/angular.min.js"></script>
	<script src="js/controllers.js"></script>
    
    <script>
    $(document).ready(function(){
        
        /*-------------------*/
        // var server = 'http://localhost:8080';
        var server = 'http://lend-it-back.herokuapp.com';
        /*-------------------*/
        
        $('#header').load('header.inc.html');
        $('#footer').load('footer.inc.html');
        
        
        $('#addLendButton').click(function(){
            $('#addLendSuccess').fadeIn();
        });
        $('#editLendButton').click(function(){
            $('#editLendSuccess').fadeIn();
            $('#editLendModal').modal('hide');
        });
            
        // DatePicker
        $('.datepicker').datepicker();
        
        // Edit actions
        $('[id^=editLendButton-]').click(function(){
          var lendId = this.id.substr(this.id.length-1);
          $('#editLendModal-'+lendId).modal('hide');
          // Delete action...
          $('#editLendSuccess').fadeIn();
        });
        
        // Delete actions
        $('[id^=deleteLendButton-]').click(function(){
          var lendId = this.id.substr(this.id.length-1);
          $('#deleteLendModal-'+lendId).modal('hide');
          // Delete action...
          $('#deleteLendSuccess').fadeIn();
        });
        
    });
    
    </script>
  </body>
</html>
