<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>AngularJS Test</title>
  </head>
  <body>
	
	<div ng-controller="monCtrl">
      {{monModele}}
      <a href="#" ng-click="maMethode()">Log</a>
      <input type="text" ng-model="monModele"/>
    </div>​
	
	<p>http://jsfiddle.net/5zZ7e/</p>

	
    <table ng-controller="lendCtrl" border="1">
      <tbody ng-repeat='lends in lendList'>
        <tr ng-repeat='lend in lends'>
          <td>{{lend.lendID}}</td>
          <td>{{lend.object}}</td>
          <td>{{lend.who}}</td>
          <td>{{lend.when}}</td>
        </tr>             
      </tbody>
    </table>
	
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/controllers.js"></script>
  </body>
</html>